#hey{
    color:yellow;
    background-color:yellowgreen;

}
.pavi{
    color:hotpink;
    background-color:darkmagenta;
}
#hello{
    background-color: thistle;
    color: white;
}
#aaku {
    background: skyblue;
}
/* iam a comment in css */